// @use "../../styles/buttons";
@use "../../../styles/buttons";

.todo {
	display: flex;
	flex-wrap: nowrap;
	font-weight: 600;
	// justify-content: space-around;
	background: whitesmoke;
	border-radius: 10px;
	opacity: 0.9;
	min-height: 2.5rem;
}

.todo_text {
	flex-grow: 1;
	align-content: center;
	align-self: center;
	padding: 0 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 0.95;
}
.todo_edit_btn,
.saveBtn {
	@include buttons.basic-button();
	background-color: rgb(114, 158, 216);
	color: white;
}
.todo_remove_btn {
	@include buttons.basic-button();
	background-color: rgb(248, 154, 66);
}
.todo:hover {
	background-color: lightgrey;
}
.todo .todo_edit_btn:hover {
	border: 1px solid blue;
	background-color: white;
	color: rgb(16, 17, 17);
}
.todo_remove_btn:hover {
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(253, 94, 54);
	color: white;
}
.saveBtn:hover {
	background-color: seagreen;
}
