@use "../../styles/buttons";

.edit_module {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.edit_content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  min-width: 50%;
  min-height: 6rem;
  display: flex;
  gap: 1rem;
  z-index: 2;
  display: flex;
  gap: 2rem;
}
.edit_content button {
  @include buttons.basic-button();
  letter-spacing: 0.4em;
}

.edit_content button:hover {
  background: rgb(224, 222, 222);
}
